<div class="fixed -z-10 text-7xl text-center font-thin -left-1/2"
style="width: 200%; background-color: #EFEFEF; color: #e8e8e8;">
  <p style="white-space: nowrap">Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">lano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">upo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">lano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">upo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">lano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">upo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">lano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  <p style="white-space: nowrap">upo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano</p>
  <p style="white-space: nowrap">Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo Arellano Grupo</p>
  </div>
