<nav class="flex sm:flex-col flex-col-reverse">

  <div class="flex justify-between p-4 content-center" style="background-color: #2D2D2D">

    <div class="flex items-center justify-around grow sm:grow-0">

      <img class="w-8 mr-4 hidden sm:flex" src="../../../assets/img/nav/a_w.png"/>

      <div class="flex flex-col mr-4">
        <img class="w-8 self-center sm:hidden " src="../../../assets/img/nav/a_w.png"/>
        <a href="#inicio" class="text-white hover:text-blue-400 sm:font-medium">Inicio</a>
      </div>


      <div class="flex flex-col mr-4 sm:hidden">
        <img class="w-8 self-center" src="../../../assets/img/nav/a_w.png"/>
        <a href="#perfil" class="text-white hover:text-blue-400 sm:font-medium sm:hidden">Perfil</a>
      </div>

      <div class="flex flex-col mr-4">
        <img class="w-8 self-center sm:hidden" src="../../../assets/img/nav/a_w.png"/>
        <a href="#contratar" class="text-white hover:text-blue-400 sm:font-medium ">Contratar</a>
      </div>

      <div class="flex flex-col">
        <img class="w-8 self-center sm:hidden" src="../../../assets/img/nav/a_w.png"/>
        <a href="#repertorio" class="text-white hover:text-blue-400 sm:font-medium">Repertorio</a>
      </div>

    </div>


    <div class="sm:flex items-center hidden">

      <img class="w-8 mr-2" src="../../../assets/img/nav/perfil_w.png"/>

      <a href="#perfil" class="text-white hover:text-blue-400 font-medium">Hola @Luis</a>

    </div>


  </div>

  <hr class="bg-red-500 border-0" style="height: 1px;">

</nav>
