
<div *ngIf="notificationType === 'warning'"
class="fixed bg-yellow-400 text-white hover:text-gray-100 text-xl p-3 pr-12 rounded-l right-0 top-5 sm:top-20 flex flex-row items-center">
<button class="material-symbols-outlined mr-3 hover:text-gray-100">close</button>
<div class="select-none">{{ message }}</div>
</div>

<div *ngIf="notificationType === 'success'"
class="fixed bg-blue-500 text-blue-200 text-xl p-3 pr-12 rounded-l right-0 top-5 sm:top-20 flex flex-row items-center">
<button class="material-symbols-outlined mr-3 hover:text-blue-50">close</button>
<div class="select-none">{{ message }}</div>
</div>

<div *ngIf="notificationType === 'error'"
class="fixed bg-red-500 text-red-200 text-xl p-3 pr-12 rounded-l right-0 top-5 sm:top-20 flex flex-row items-center">
<button class="material-symbols-outlined mr-3 hover:text-red-50">close</button>
<div class="select-none">{{ message }}</div>
</div>
